.header {
    background: #fff;
    border-bottom: 1px solid #ccc;
    padding: 1em;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    margin: 0 auto;
}